configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}
 
/* Insert theme modifications after this */

entry {
    placeholder: "Type here";
    cursor: pointer;
    padding: 12px;
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  padding: 12px;
  spacing: 12px;
}
